<div class="edit-mode" *ngIf="mindMapView">
  <div id="jsmind_container"></div>
  <div id="side-panel">
    <button class="btn btn-primary" (click)="nextLevel1()" *ngIf="!level2 && !level3">Next &rarr;</button>
    <button class="btn btn-primary" (click)="nextLevel2()" *ngIf="level2 && !level3">Next &rarr;</button>
    <button class="btn btn-primary" (click)="generateRadar()" *ngIf="level3">Generate Radar</button>

    <br /><br />
    <div *ngIf="level3">


      <div *ngIf="level3">

        <div *ngFor="let a of selectedNodes; let index = index">
          <span class="circle-high" id="{{ 'high-' + a }}"></span>
          <span class="circle-low" id="{{ 'low-' + a }}"></span>
        </div>

      </div>
      <div id="dispositions">
        <table style="width:100%">
          <tr>
            <td class="text-left" style="background-color: #ffff01"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #ffc000"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #7030a0; color: white"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #0073c4; color: white"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #f37a32"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #01af4d"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #0072c2"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #fe0000 ; color: white"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #e145ff ; color: white"></td>
          </tr>
          <tr>
            <td class="text-left" style="background-color: #3cf0ff"></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

<div id="slider" *ngIf="showSlider" [style.top.px]="showSliderTop" [style.left.px]="showSliderLeft">
  <div class="slider-inner">
    <a class="close" (click)="showSlider = false">
      <i class="pi pi-times"></i>
    </a>
    <p-slider class="next-mind-map" (onChange)="handleChange($event)" [min]="0" [max]="5" animate="true"></p-slider>
  </div>
</div>

<div *ngIf="isGenerateRadar">
  <p-chart type="radar" [data]="data"></p-chart>
</div>
