@import "~bootstrap/scss/bootstrap";
@import "styles/jsmind";

.edit-mode {
  display: flex;
}

#jsmind_container {
  width: 90vw;
  height: 100vh;
}

#side-panel {
  width: 10vw;
  height: 100vh;
  align-items: center;
  // display: flex;
}

#slider {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #999;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0 0 65px #888;

  .slider-inner {
    position: relative;
    padding: 10px;
    padding-right: 25px;

    .close {
      display: inline-block;
      position: absolute;
      top: -2px;
      right: 0;
    }
  }
}
